.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.yearSelector {
  text-align: left;
  padding: 0 0 0.25em 0.5em;
}

.yearSelector button {
  width: 3em;
  height: 2em;
  vertical-align: text-bottom;
  margin: 0 1em;
}

.calendar {
  margin: 2em auto;
  border-collapse: collapse;
}

.calendar thead th {
  font-weight: normal;
  font-size: 0.75em;
  padding-bottom: 0.5em;
}

.calendar tbody th {
  font-weight: normal;
  text-align: left;
  padding: 0.25em 1em;
}

.calendar tbody td {
  position: relative;
  width: 1.5em;
  height: 1.75em;
}

.calendar tbody td.day {
  border: 1px solid silver;
}

.calendar tbody td .dayNum {
  display: none;
}

.calendar tbody td.day .dayNum {
  display: block;
  font-size: 0.7em;
  color: gray;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
}

.day::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 1.5em;
  color: white;
  opacity: 50%;
  font-weight: bold;
  z-index: 1;
}

.day.work {
  background-color: orange;
}

.day.work::after {
  content: "W";
}

.day.home {
  background-color: plum;
}

.day.home::after {
  content: "H";
}

.day.leave {
  background-color: lightgreen;
}

.day.leave::after {
  content: "L";
}