.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #bac5d5;
  top: 0;
  position: sticky;
  z-index: 3;
}

.yearSelector {
  text-align: left;
  padding: 0 0 0.25em 0.5em;
}

.yearSelector button {
  width: 3em;
  height: 2em;
  vertical-align: text-bottom;
  margin: 0 1em;
}

.calendar {
  margin: 2em auto;
}

.calendar thead th {
  font-weight: normal;
  font-size: 0.75em;
  padding-bottom: 0.5em;
}

.calendar tbody th {
  font-weight: normal;
  text-align: left;
  padding: 0.25em 1em;
}

.calendar tbody td {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border-radius: 20%;
}

.calendar tr.current th {
  font-weight: bold;
}

.calendar tr.current td.current {
  outline: 2px solid #282c34;
}

.calendar tbody td.day {
  border: 1px solid silver;
}

.calendar tbody td .dayNum {
  font-size: 0.7em;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  color: silver;
}

.calendar tbody td.day.work .dayNum {
  color: white;
}

.calendar tbody td.day.home .dayNum {
  color: white;
}

.calendar tbody td.day.leave .dayNum {
  color: white;
}

td::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  text-align: center;
  display: block;
  font-size: .8em;
  color: black;
  opacity: 50%;
  z-index: 1;
}

td.day.work {
  background-color: #d59a2e;
}

td.day.work.maybe {
  background: linear-gradient(to right bottom, #d59a2e 50%, white 50%);
}

td.work::after {
  content: "W";
}

td.day.home {
  background-color: #c18dc1;
}

td.day.home.maybe {
  background: linear-gradient(to right bottom, #c18dc1 50%, white 50%);
}

td.home::after {
  content: "H";
}

td.day.leave {
  background-color: #a5cea5;
}

td.day.leave.maybe {
  background: linear-gradient(to right bottom, #a5cea5 50%, white 50%);
}

td.leave::after {
  content: "L";
}