.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;

  accent-color: navy;
}

.App header {
  background-color: #282c34;
  font-size: 1.25em;
  color: #bac5d5;
}

.App header h1 {
  margin: 0.25em;
}

.App footer {
  background-color: #bac5d5;
  color: #282c34;
}

.App footer a {
  color: #282c34;
}

.App .content {
  flex-grow: 1;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.yearSelector {
  text-align: left;
  padding: 0 0 0.25em 0.5em;
}

.yearSelector button {
  width: 3em;
  height: 2em;
  vertical-align: text-bottom;
  margin: 0 1em;
}

.backupDate {
  font-size: 0.6em;
}

@media (min-width: 600px) {
  .menu {
    position: relative;
    margin-top: -2em;
    margin-bottom: 0em;
    margin-left: auto;
    width: 50%;
    height: 2em;
    text-align: right;
  }

  .menu button {
    margin: 0 1em;
  }

  .backupDate {
    position: absolute;
    top: -20px;
    width: 100%;
    right: 50px;
  }
}

button[name=today] {
  border: 1px solid navy;
  border-top: 3px solid navy;
}

/* calendar flex */

.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-bottom: 10px;
}

.monthName {
  font-weight: bold;
  margin-bottom: 10px;
}

.week {
  display: flex;
}


/* row mode */

.alt .year .month {
  flex-direction: row;
  margin-bottom: 0;
}

.alt .year .monthName {
  width: 6em;
  text-align: right;
  padding-right: 1em;
}

.alt .year .week {
  display: contents;
}

.alt table {
  display: contents;
}

.alt table thead {
  display: none;
}

.alt table tbody {
  display: contents;
}

.alt table tr {
  display: contents;
}

.alt table td {
  display: flex;
  flex: 1;
  width: 2em;
}

.headers {
  display: none;
}

.alt .headers {
  display: flex;
  flex-direction: column;
}

.alt .headers .day span {
  font-size: 0.75em;
}

/* selection */

.calendar .day {
  border: 3px dashed transparent;
  margin-left: -3px;
  margin-top: -3px;
  overflow: visible;
}

.calendar .selection {
  border: 3px solid #e95420 !important;
}

.calendar .selection+.selection {
  border-left: 3px dashed transparent !important;
}

.calendar .selection:has(+.selection) {
  border-right: 3px dashed transparent !important;
}


/* summary table */

.calendar {
  margin: 2em auto;
  user-select: none;
  border-collapse: collapse;
}

.calendar thead th {
  font-weight: normal;
  font-size: 0.75em;
  padding-bottom: 0.5em;
}

.calendar tbody th {
  font-weight: normal;
  text-align: left;
  padding: 0.25em 1em;
}

/* day formatting */

.calendar .day.current {
  font-weight: bold;
  /* border: 3px solid cornflowerblue; */
}


.calendar .day {
  position: relative;
  width: 2em;
  height: 2em;
}

.calendar .weekday .day2 {
  padding: 1px;
}

.calendar .work .dayLoc,
.calendar .home .dayLoc,
.calendar .leave .dayLoc {
  border-radius: 20%;
  box-sizing: border-box;
}

.calendar .dayNum {
  font-size: 0.7em;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  color: silver;
}

.calendar .work .dayNum,
.calendar .home .dayNum,
.calendar .leave .dayNum {
  color: white;
}

.calendar .dayLoc {
  position: absolute;
  left: 0;
  right: 0;
  font-size: .8em;
  color: #00000080;
  padding-left: 10px;
  padding-top: 10px;
}

.calendar .work .dayLoc {
  background-color: #d59a2e;
  border: 1px solid #b28633;
}

.calendar .work.maybe .dayLoc {
  background: linear-gradient(to right bottom, #d59a2e 50%, #d59a2e66 50%);
}

.calendar .home .dayLoc {
  background-color: #c18dc1;
  border: 1px solid #9e7e9e;
}

.calendar .home.maybe .dayLoc {
  background: linear-gradient(to right bottom, #c18dc1 50%, #c18dc166 50%);
}

.calendar .leave .dayLoc {
  background-color: #a5cea5;
  border: 1px solid #8daa8d;
}

.calendar .leave.maybe .dayLoc {
  background: linear-gradient(to right bottom, #a5cea5 50%, #a5cea566 50%);
}

/* target table */

table.target {
  margin: 2em auto;
}

table.target th {
  text-align: right;
  font-weight: normal;
  font-size: 0.75em;
}

table.target thead th {
  padding-right: 1.3em;
  padding-left: 1.3em;
}

table.target td {
  text-align: right;
  padding-right: 1.3em;
}

table.target input {
  text-align: right;
  border: none;
  background: transparent;
  font-size: 1em;
  margin-right: -1.2em;
}

table.target thead tr:first-child .selection {
  text-align: center;
  border-bottom: 2px solid #e95420;
}

/* toolbar */

.toolBar {
  padding: 0.5em 1em;
  font-size: 0.75em;
  background-color: #bac5d5;
  color: #282c34;
}

.toolBar label {
  display: inline-block;
  border: 1px solid #282c34;
  border-radius: 5px;
  padding: 2px;
  font-size: 0.75em;
}

.toolBar label[for=loc_radio1] {
  background-color: whitesmoke;
  color: #00000080;
}

.toolBar label[for=loc_radio2] {
  background-color: #d59a2e;
  border-color: #b28633;
  color: #00000080;
}

.toolBar label[for=loc_radio3] {
  background-color: #c18dc1;
  border-color: #9e7e9e;
  color: #00000080;
}

.toolBar label[for=loc_radio4] {
  background-color: #a5cea5;
  border-color: #8daa8d;
  color: #00000080;
}

.toolBar label[for=maybe_checkbox] {
  background: linear-gradient(to right bottom, silver 50%, whitesmoke 50%);
  color: #00000080;
}

.toolBar button {
  margin-left: 1em;
}

.toolBar .filter label {
  border: none;
}

.toolBar br {
  display: none;
}

dialog {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid silver;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

dialog label {
  margin: 0 1em;
}

dialog button {
  margin: 0 1em;
}

/* mobile mode */

.desktopOnly {
  display: unset;
}

.mobileOnly {
  display: none;
}

@media (max-width: 600px) {
  .toolBar br {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: unset;
  }
}

/* print mode */
@media print {
  .toolBar {
    display: none;
  }

  .menu {
    display: none;
  }

  .header .yearSelector {
    font-size: 2em;
  }

  .header button {
    display: none;
  }

  .footer .instructions {
    display: none;
  }

  /* .calendar tbody td {
    border: none;
  }

  .calendar .weekday .day {
    border: none;
  } */
}